<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSGZjYDMH6Eo68WFf9rXiy6GlyQ_9wn_M</string>
	<key>GCM_SENDER_ID</key>
	<string>715942454595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.borgs.fitlife</string>
	<key>PROJECT_ID</key>
	<string>fitlife-txst</string>
	<key>STORAGE_BUCKET</key>
	<string>fitlife-txst.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715942454595:ios:7df5fbb029f12ed8a83bf6</string>
</dict>
</plist>